.login_form {
    background: orange;
    width     : fit-content;
    height    : fit-content;
    padding   : 1.5em;
    display   : grid;
    gap       : .5em;
    width     : 400px;
    max-width : 400px;
}


.login_form .input_section,
.login_form .input_section label {
    display    : grid;
    gap        : 10px;
    font-weight: bold;
}

.login_form .input_section label input {
    padding       : .5em;
    font-size     : 1.1rem;
    outline-offset: 3px;
    border-radius : .3em;
    border        : none;
}



.login_form .instructions {
    padding      : .5em;
    border-radius: .3em;
    background   : crimson;
    color        : white;
    font-size    : small;
    text-align   : start;
}

.login_form .instructions li {
    list-style-type    : none;
    list-style-position: inside;
    font-size          : .8rem;
}

.login_form .submit_section {
    display       : flex;
    flex-direction: row;
    gap           : 5px;
}

.login_form .submit_section button {
    border-radius : .3em;
    border        : none;
    outline-offset: 3px;
    padding       : .5em;
    width         : 100%;
    cursor        : pointer;
    font-weight   : bold;
    letter-spacing: 3px;
    text-shadow   : 2px 2px 4px black;
}

.login_form .submit_section .submit_button {
    background: darkblue;
    color     : white;
}

.login_form .submit_section .submit_button:hover {
    background: #00008bcb;
}

.login_form .submit_section .reset_button {
    background: crimson;
    color     : white;
}

.login_form .submit_section .reset_button:hover {
    background: #dc143cda;

}

.login_form .redirect_section {
    text-align   : center;
    background   : white;
    padding      : 1em;
    border-radius: .3em;
}


.login_form .redirect_section a {
    background     : blue;
    color          : white;
    text-shadow    : 0 2px 3px black;
    text-decoration: none;
    padding        : .3em;
    border-radius  : .3em;
}